.fomulario {
  padding: 2rem;
  border-radius: 1rem;
  background: var(--bw-white);
  box-shadow: 0px 32px 16px -16px rgba(0, 0, 0, 0.24);
  display: flex;
  flex-flow: column nowrap;
  flex-shrink: 0;

  .row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
  }

  .form-control {
    border-radius: 0.25rem;
    border: 1px solid var(--bw-grey-light);
    background: var(--bw-white);
    padding: 0.69rem 1rem;
  }

  .form-control,
  .form-control::placeholder {
    color: var(--bw-grey);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
  }

  .form-group {
    display: flex;
    flex-flow: column nowrap;
    flex-shrink: 0;
    margin-right: 1.5rem;

    &:last-child {
      margin-right: 0 !important;
    }

    &:only-child {
      width: 100%;
    }
  }

  .form-label {
    margin-bottom: 0.25rem;
  }

  .send-message {
    padding: 0.94rem 3.25rem;
    border-radius: 0.25rem;
    background: var(--helpers-cta);
    color: var(--brand-primary-light);
    border: none;
    align-self: flex-end;
    transition: filter ease-in-out 400ms;

    &:hover {
      cursor: pointer;
      filter: brightness(0.8);
    }

    &:focus {
      outline: var(--bw-black) 1px auto;
    }
  }
}